WorkFlow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        80
      ],
      "id": "669151a2-e620-4886-8b5e-d2e051dd278b",
      "name": "Telegram Trigger",
      "webhookId": "519da0fb-75b0-4c48-a916-1c24abde6eab",
      "credentials": {
        "telegramApi": {
          "id": "x34jEzN06OIM72j4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "id": "1eda78a2-475b-418d-997b-93f96d163f68",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "rgzgAzSILF4ry7Vu",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful Career Guide bot. Analyze this message: {{ $json.message.text }}.\n1. If the message contains a URL: Use the 'Google Sheets Tool' to SAVE it. You MUST fill these columns: 'Date' (current date), 'Heading' (catchy title), 'Link' (the URL), 'Category' (Job/Course/Info), and 'Shared By' (sender's name). Do not ask, just save and confirm.\n`2. If the user asks for info or resources: You MUST check the 'Google Sheets Tool' FIRST to see if we have it in our database.\nIf found: Provide the info from the sheet.\nIf NOT found: Say \"আমার শিটে বর্তমানে এটি নেই, তবে অনলাইন থেকে কিছু তথ্য দিচ্ছি\" and then provide info from your own knowledge.`\n3. General Chat: For greetings or casual questions, respond in a short, friendly way in Bangla or English.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        80
      ],
      "id": "2af734ba-2769-4584-93fa-1930364fa998",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google SheetsUse this tool to search for job, course, or career info in my private database. ALWAYS check this tool first before answering any query about resources.",
        "documentId": {
          "__rl": true,
          "value": "1QIhsSHp8DIL4bUpn_5ewe-F5auv3s0vugUTwbwSZ2NU",
          "mode": "list",
          "cachedResultName": "For my n8n bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QIhsSHp8DIL4bUpn_5ewe-F5auv3s0vugUTwbwSZ2NU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QIhsSHp8DIL4bUpn_5ewe-F5auv3s0vugUTwbwSZ2NU/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        288
      ],
      "id": "ba2298f2-e556-4566-a9a6-a8109e876343",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jXkOjGjvmu9zNXJ0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        80
      ],
      "id": "ca52d810-91a8-48f0-9f52-47eb004bfe48",
      "name": "Send a text message",
      "webhookId": "71642e67-1cef-41a1-b6cc-45dfeeb5d4a8",
      "credentials": {
        "telegramApi": {
          "id": "x34jEzN06OIM72j4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to save a new job or course link. It needs title, url, and category.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QIhsSHp8DIL4bUpn_5ewe-F5auv3s0vugUTwbwSZ2NU",
          "mode": "list",
          "cachedResultName": "For my n8n bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QIhsSHp8DIL4bUpn_5ewe-F5auv3s0vugUTwbwSZ2NU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QIhsSHp8DIL4bUpn_5ewe-F5auv3s0vugUTwbwSZ2NU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "Heading": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Heading', ``, 'string') }}",
            "Link": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Link', ``, 'string') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Shared By": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shared_By', ``, 'string') }}"
          },
          "matchingColumns": [
            "Heading"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Heading",
              "displayName": "Heading",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shared By",
              "displayName": "Shared By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        176,
        288
      ],
      "id": "3968f005-9a79-445e-8773-b0c6656620d6",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jXkOjGjvmu9zNXJ0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        448
      ],
      "id": "067b032e-e338-4e0b-9e3b-7e0b9ecf2137",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e18ca02d-0a8c-4d39-be4c-70d49d124944",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "955e543b1e94f7e8a6be9479a3949f864f5f2bbe0464f88911f68b98ea158a82"
  },
  "id": "f4pxczP8RsbgWoqZ",
  "tags": []
}